<div class="container">
    <div>
        <h1>Plan Trip</h1>
        <form method="get">
            <h3>Origin and Destination</h3>
            <div class="input-group">
                <select class="form-control" name="source">
                    <option>Choose a station</option>
                    {{#each stations}}
                    <option value={{ this.abbr }}>{{ this.name }}</option>
                    {{/each}}
                </select>
                <select class="form-control" name="destination" onchange='this.form.submit();'>
                    <option>Choose a station</option>
                    {{#each stations}}
                    <option value={{ this.abbr }}>{{ this.name }}</option>
                    {{/each}}
                </select>
                <div class="pt-5">
                    {{#if tripResponse}}
                    <table style="width:100%">
                        <tr>
                            <th>Origin</th>
                            <th>Destination</th>
                            <th>Origin Depart Time</th>
                            <th>Origin Depart Date</th>
                            <th>Dest Arrival Time</th>
                            <th>Dest Arrival Date</th>
                            <th>Clipper</th>
                            <th>Trip time</th>
                            <th>Cost</th>
                            <th>Line and Train Head Station</th>
                        </tr>
                        <tr>
                            {{#each tripResponse}}
                            {{#.}}
                        <tr>
                            <td><span><small>{{ this.[@origin] }}</small></span></td>
                            <td><span><small>{{ this.[@destination] }}</small></span></td>
                            <td><span><small>{{ this.[@origTimeMin] }}</small></span></td>
                            <td><span><small>{{ this.[@origTimeDate] }}</small></span></td>
                            <td><span><small>{{ this.[@destTimeMin] }}</small></span></td>
                            <td><span><small>{{ this.[@destTimeDate] }}</small></span></td>
                            <td><span><small>{{ this.[@clipper] }}</small></span></td>
                            <td><span><small>{{ this.[@tripTime] }}</small></span></td>
                            <td><span><small>{{ this.[@fare] }}</small></span></td>
                            {{#leg}}
                            <td>
                                <span><small>{{ this.[@line] }}</small></span>
                                <span><small>{{ this.[@trainHeadStation] }}</small></span>
                            </td>
                            {{/leg}}
                        </tr>
                        {{/.}}
                        {{/each}}
                        </tr>
                    </table>
                    {{/if}}
                    {{!-- {{#if sourceLatLng}}
                    <span><small>{{ sourceLatLng.sourceLat }}</small></span>
                    <span><small>{{ sourceLatLng.sourceLng }}</small></span>
                    {{/if}}
                    {{#if destinationLatLng}}
                    <span><small>{{ destinationLatLng.destinationLat }}</small></span>
                    <span><small>{{ destinationLatLng.destinationLng }}</small></span>
                    {{/if}} --}}
                </div>
            </div>
        </form>
    </div>
    <h1>Trip Map</h1>
    {{!-- {{#if sourceLatLng}}
        {{#if destinationLatLng}} --}}
            <span><small>{{ sourceLatLng.sourceLat }}</small></span>
            <span><small>{{ sourceLatLng.sourceLng }}</small></span>
            <span><small>{{ destinationLatLng.destinationLat }}</small></span>
            <span><small>{{ destinationLatLng.destinationLng }}</small></span>
            <script>
                var sourceLatLngsourceLat = {{sourceLatLng.sourceLat}};
                var sourceLatLngsourceLng = {{sourceLatLng.sourceLng}};
                var destinationLatLngdestinationLat = {{destinationLatLng.destinationLat}};
                var destinationLatLngdestinationLng = {{destinationLatLng.destinationLng}};
            </script>
            <input type="button" onclick="calcRoute(sourceLatLngsourceLat, sourceLatLngsourceLng, destinationLatLngdestinationLat, destinationLatLngdestinationLng)" value="Display my trip">
        {{!-- {{/if}}
    {{/if}} --}}
    
    <div id="map"></div>
</div>